@font-face {
  font-family: pm;
  src: url('resources/fonts/PM.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: rg;
  src: url('resources/fonts/RG.ttf');
  font-weight: 500;
  font-style: normal;
}