.body {
	background-attachment: fixed;
	background-size: cover;
}

.body__head {
	display: flex;
	justify-content: center;
}

.head__header {
	background-color: darkcyan;
	width: 120vh;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2vh;
}

.header__title {
	color: white;
	font-family: pm;
	font-size: 5vh;
	text-decoration: none;
	font-weight: 700;
}

.header__image {
	width: 5vh;
	height: 5vh;
	margin-right: 2vh;
}

.body__main {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.main__block {
	background-color: darkcyan;
	width: 140vh;
	height: 70vh;
	border-radius: 5vh;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 25% 25% 30%;
	grid-template-areas: 
		"back title"
		"text gallery"
		"download gallery"
		"issue feedback";
}

.block__download {
	align-self: center;
	margin-left: 10vh;
	color: black;
	font-family: Helvetica;
	font-size: 2vh;
	background-color: cyan;
	border-radius: 1vh;
	text-decoration: none;
	width: 25.5vh;
	height: 5vh;
	font-weight: 900;
	padding: 2vh 0vh 0vh 2vh;
}

.block__download:hover {
	background-color: #399cb8;
	transition-duration: 400ms;
}

.issues__link {
	grid-area: feedback;
	justify-self: center;
	align-self: flex-start;
	text-decoration: none;
	font-family: rg;
	font-size: 6vh;
	color: black;
	display: grid;
	grid-template-columns: 50% 50%;
}

.issues__text {
	grid-area: issue;
	justify-self: center;
	align-self: center;
	text-decoration: none;
	font-family: rg;
	font-size: 6vh;
}

.link__image {
	width: 15vh;
	height: 15vh;
	border-radius: 9vh;
}

.block__title {
	font-family: rg;
	font-size: 5vh;
	grid-area: title;
}

.block__button {
	grid-area: back;
	justify-self: start;
	align-self: center;
	text-decoration: none;
	font-family: rg;
	font-size: 3vh;
	color: black;
	margin-left: 2vh;
	padding: 1vh 1vh 1vh 0.8vh;
	background-color: white;
	border-radius: 1vh;
}

.block__button:hover {
	background-color: lightgray;
	transition-duration: 300ms;
}

.block__text {
	font-family: rg;
	font-size: 3vh;
	grid-area: text;
	justify-self: center;
	align-self: flex-start;
}

.block__gallery {
	grid-area: gallery;
}

.gallery {
	width: 48vh;
	height: 27vh;
	border-radius: 1vh;
}

.button_section {
	width: 48vh;
	height: 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	width: 10vh;
	height: 4vh;
	border-radius: 1vh;
	background-color: white;
	border-color: darkcyan;
	font-family: rg;
	font-size: 2vh;
}

.button:hover {
	background-color: lightgray;
	transition-duration: 300ms;
}

.body__footer {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.footer__block {
	background-color: darkcyan;
	width: 120vh;
	height: 20vh;
	border-radius: 2vh;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 15% 15% 70%;
	grid-template-rows: 100%;
}

.img {
	width: 8vh;
	height: 8vh;
	padding: 20px 20px 20px 20px;
	border-radius: 5vh;
	background-color: op;
}

.img:hover {
	transform: scale(1.1, 1.1);
  	transition-duration: 500ms;
  	background: rgb(255, 255, 255, .1);
}

.block__mail {
	display: grid;
	grid-template-columns: 90% 10%;
	grid-template-rows: 100%;
	justify-items: center;
	align-items: center;
}

.mail {
	font-family: rg;
	color: white;
	font-size: 4vh;
	margin-right: 3vh;
}

.footer__image {
	width: 8vh;
	height: 8vh;
}