.body {
	background-attachment: fixed;
	background-size: cover;
}

.body__head {
	display: flex;
	justify-content: center;
}

.head__header {
	background-color: darkcyan;
	width: 60%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.header__title {
	color: white;
	font-family: pm;
	font-size: 50px;
	text-decoration: none;
	font-weight: 700;
}

.header__image {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.body__main {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.main__block {
	background-color: darkcyan;
	width: 70%;
	height: 70vh;
	border-radius: 50px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 25% 25% 30%;
	grid-template-areas: 
		"back title"
		"text gallery"
		"download gallery"
		"issue feedback";
}

.download__section {
	align-self: center;
}

.block__download {
	margin-left: 10%;
	color: black;
	font-family: Helvetica;
	font-size: 25px;
	background-color: cyan;
	border-radius: 10px;
	text-decoration: none;
	width: 255px;
	height: 50px;
	font-weight: 900;
	padding: 15px 15px 15px 15px;
}

.block__download:hover {
	background-color: #399cb8;
	transition-duration: 400ms;
}

.of_needed {
	text-decoration: none;
	color: darkred;
	font-family: Helvetica;
	font-size: 25px;
	font-weight: 900;
	margin-left: 10px;
}

.issues__link {
	grid-area: feedback;
	justify-self: center;
	align-self: flex-start;
	text-decoration: none;
	font-family: rg;
	font-size: 60px;
	color: black;
	display: grid;
	grid-template-columns: 50% 50%;
}

.issues__text {
	grid-area: issue;
	justify-self: center;
	align-self: center;
	text-decoration: none;
	font-family: rg;
	font-size: 60px;
}

.link__image {
	width: 150px;
	height: 150px;
	border-radius: 90px;
}

.block__title {
	font-family: rg;
	font-size: 50px;
	grid-area: title;
}

.block__button {
	grid-area: back;
	justify-self: start;
	align-self: center;
	text-decoration: none;
	font-family: rg;
	font-size: 30px;
	color: black;
	margin-left: 20px;
	padding: 10px 10px 10px 8px;
	background-color: white;
	border-radius: 10px;
}

.block__button:hover {
	background-color: lightgray;
	transition-duration: 300ms;
}

.block__text {
	font-family: rg;
	font-size: 30px;
	grid-area: text;
	justify-self: center;
	align-self: flex-start;
}

.block__gallery {
	grid-area: gallery;
}

.gallery {
	width: 480px;
	height: 270px;
	border-radius: 10px;
}

.button_section {
	width: 480px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: white;
	border-color: darkcyan;
	font-family: rg;
	font-size: 20px;
}

.button:hover {
	background-color: lightgray;
	transition-duration: 300ms;
}

.body__footer {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.footer__block {
	background-color: darkcyan;
	width: 60%;
	height: 20vh;
	border-radius: 20px;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: 15% 15% 70%;
	grid-template-rows: 100%;
}

.img {
	width: 80px;
	height: 80px;
	padding: 20px 20px 20px 20px;
	border-radius: 50px;
	background-color: op;
}

.img:hover {
	transform: scale(1.1, 1.1);
  	transition-duration: 500ms;
  	background: rgb(255, 255, 255, .1);
}

.block__mail {
	display: grid;
	grid-template-columns: 90% 10%;
	grid-template-rows: 100%;
	justify-items: center;
	align-items: center;
}

.mail {
	font-family: rg;
	color: white;
	font-size: 40px;
	margin-right: 30px;
}

.footer__image {
	width: 80px;
	height: 80px;
}